<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit Product Details</h2>
    <form method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit">Save</button>
    </form>

    <style>
        body {
            font-family:'Courier New', Courier, monospace;
            margin: 0;
            padding: 50px;
            background-color: #ccc;
        }

    </style>
</body>
</html>